{% extends "base.html" %}
{% block title %}Build Model{% endblock %}
{% block content %}
<div class="container">
    <section>
        <h1 class="display-4"><b>Build model</b></h1>
        <p class="">Description</p><br>
        {% if selected=="0" :%}
        <form action="{{ url_for('build') }}" method="POST" enctype=multipart/form-data>
            <div class="form-group">
                <label  for="fileinput">- Select csv file - </label><br>
                <input type="file"  class="form-control-file" accept=".csv"  name="file"  required > 
                <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>
            <input type="hidden" name="generate" value=0>
            <button type="submit" class="btn btn-primary" value="send">Upload</button>
        </form>
        {% else: %}
        <form action="{{ url_for('build') }}" method="POST" enctype=multipart/form-data> 
            <p>Selected - <b>{{file_name}}</b></p>
            <p></p>
            <select class="form-control" name="bestModel"id="n_models" >
                <option disable selected value>-- select model number --</option>
                {% if maxmodel>7 : %}
                    {% for i in range(0,5):%}
                        <option value="{{i+1}}">{{ i+1 }}</option>
                    {% endfor %}    
                {% else:%}
                    {% for i in range(0,maxmodel-2):%}
                        <option value="{{i+1}}">{{ i+1 }}</option>
                    {% endfor %}
                {% endif %}
            </select><br>
            <p>{{pass_name}}</p>
            <input type="hidden" name="destination" value="{{pass_name}}">
            <!-- <input type="hidden" name="n_model" value="{{maxmodel}}"> -->
            <button type="submit" class="btn btn-primary" name="generate" value=0>Pilih ulang file</button>
            <button type="submit" class="btn btn-primary" name="generate" value=1>Generate model</button>

        </form>
        {% endif %}
        
    </section>
    {% if (message=="Success") :%}
        <section>
            <h2>Result</h2>
            <p>{{(output|escape).replace("\n", '<br>'|safe)}}</p>
        </section>
        <section class="container">
            <h2>Download Model</h2>
            <a href="{{ url_for('download_filse', filename='output.txt') }}">
                <button type="button" class="btn btn-link">Output</button>
            </a><br>
            {% for i in range(n_model):%}
            <a href="{{ url_for('download_filse', filename='model_')}}{{i+1}}{{'.p'}}">
                <button type="button" class="btn btn-link">Model {{i+1}}</button>
            </a>
            {% endfor %}
        </section>
    {% endif %}
    <section class="free_space">
        
    </section>
</div>
{% endblock %}