{% extends "base.html" %}
{% block title %}Prediction{% endblock %}
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('build') }}"><h5>Build</h5></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('prediction') }}"><h5>Prediction</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('methods') }}"><h5>Methods</h5></a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="container shadow-sm mainmenu">
    <section>
        <div class="row desc">
            <div class="col-7">
                <h1 class="display-4"><b>Prediction</b></h1>
                <p class="">Description</p><br>
            </div>
            
            {% if (message!="Success") :%}
            <div class="col-5">
                {% if (message=="error"): %}
                    <h5>Input Error</h5>
                    <h5>CSV files and models do not match</h5>
                    <small>- make sure the data set dan model file are compatible -</small><br> <br>
                {% endif %}
                <form action="{{ url_for('prediction') }}" method="POST" enctype=multipart/form-data>
                    <!-- <h3>Select File</h3> -->
                    <h5>Select data set file</h5>
                    <div class="custom-file">
                        <input type="file"  class="custom-file-input" accept=".csv"  name="fileCsv"  id="customFile" required >
                        <label class="custom-file-label" for="customFile">- Select csv file - </label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div><br><br>
                    <h5>Select model file</h5>
                    <div class="custom-file">
                        <input type="file"  class="custom-file-input" accept=".p"  name="fileModel"  id="customFile" required >
                        <label class="custom-file-label" for="customFile">- Select pickle file - </label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div><br><br>
                    <button type="submit" class="btn btn-primary" value="send">Upload</button>
                </form>
            </div>
            {% else:%}
            <div class="d-flex col-5 justify-content-center">
                <form action="{{ url_for('prediction') }}" method="POST" enctype=multipart/form-data>
                    <input type="hidden" name="generate" value=0>
                    <button type="submit" class="btn btn-primary" value="send">Predict another model</button>
                </form>
            </div> 
            {% endif%}
        </div>
    </section>
    {% if (message=="Success") :%}
        <section>
            <h2>Result</h2>
            <!-- <p>{{(output|escape).replace("\n", '<br>'|safe)}}</p> -->
        </section>
        <section>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Prediction</th>
                        <th scope="col">Residual</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(5): %}   
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{head[0][i]}}</td>
                        <td>{{head[1][i]}}</td>
                        <td>{{head[2][i]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </section>
        <section class="container">
            <a href="{{ url_for('download_filse', filename='')}}{{name}}">
                <button type="button" class="btn btn-link">{{name}}</button>
            </a>
        </section>
    {% endif %}
    <section class="free_space">
        
    </section>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</div>
{% endblock %}