{% extends "base.html" %}
{% block title %}Prediction{% endblock %}
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('build') }}"><h5>Build</h5></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('prediction') }}"><h5>Prediction</h5></a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="container shadow-sm mainmenu">
    <section>
        <div class="row desc">
            <div class="col-7">
                <h1 class="display-4"><b>Prediction</b></h1>
                <p class="">Description</p><br>
            </div>
            
            {% if (message!="Success") :%}
            <div class="col-5">
                <form action="{{ url_for('prediction') }}" method="POST" enctype=multipart/form-data>
                    <h5>Select File</h5>
                    <div class="custom-file">
                        <input type="file"  class="custom-file-input" accept=".csv"  name="fileCsv"  id="customFile" required >
                        <label class="custom-file-label" for="customFile">- Select csv file - </label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div><br><br>
                    <div class="custom-file">
                        <input type="file"  class="custom-file-input" accept=".p"  name="fileModel"  id="customFile" required >
                        <label class="custom-file-label" for="customFile">- Select .p file - </label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div><br><br>
                    <button type="submit" class="btn btn-primary" value="send">Upload</button>
                </form>
            </div>
            {% endif%}
        </div>
    </section>
    {% if (message=="Success") :%}
        <section>
            <h2>Result</h2>
            <!-- <p>{{(output|escape).replace("\n", '<br>'|safe)}}</p> -->
        </section>
        <section class="container">
            <h3>Download </h3>
            <a href="{{ url_for('download_filse', filename='')}}{{name}}">
                <button type="button" class="btn btn-link">{{name}}</button>
            </a>
        </section>
    {% endif %}
    <section class="free_space">
        
    </section>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</div>
{% endblock %}